Ali Polatel <alip@exherbo.org> <hawking@gentoo.org>
Ali Polatel <alip@exherbo.org> <polatel@gmail.com>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@lithium.(none)>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@compnerd.org>
Saleem Abdulrasool <compnerd@exherbo.org> <compnerd@strontium.compnerd.org>
